body{

}
/*** header ***/

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 16px 73px;
}
.main-header .right-part{
    margin-left: 2vw;
}
.main-header .left-part, .right-part{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-part h3{
    font-family: Raleway;
    font-weight: 900;
    font-size: 35px;
    line-height: 41px;
    color: var(--text-color);
    margin-left: -20px;
    margin-top: -6px;
}
.right-part .navigation-menu{
    display: flex;
    column-gap: 2.5vw;
    position: relative;
    }
.right-part .navigation-menu a{
    font-family: Raleway;
    font-size: 17px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 1.275px;
    color: var(--text-color);
    padding: 8px;
    cursor: pointer;
    text-transform: uppercase;
    }
.right-part .navigation-menu li{
    position: relative;
}
.right-part .navigation-menu li:before{
    content: " ";
    width: 100%;
    position: absolute;
    height: 5px;
    background-color: var(--green-color);
    bottom: -10px;
}
.right-part .sign-up-btn{
    white-space: nowrap;
    font-family: Raleway;
    font-weight: 800;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 1.275px;
    background-color: var(--green-color);
    color: var(--primary-color);
    cursor: pointer;
    padding: 10px 20px;
    margin-left: 2.7vw;
    text-transform: uppercase;
}
